@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-between(
  $lower,
  $upper,
  $breakpoints: $grid-breakpoints
) {
  $min: breakpoint-min($lower, $breakpoints);
  $max: breakpoint-max($upper, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($lower) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($upper) {
      @content;
    }
  }
}

@mixin media-breakpoint-only($name, $breakpoints: $grid-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  $max: breakpoint-max($name, $breakpoints);

  @if $min != null and $max != null {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  } @else if $max == null {
    @include media-breakpoint-up($name) {
      @content;
    }
  } @else if $min == null {
    @include media-breakpoint-down($name) {
      @content;
    }
  }
}

@mixin sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  clip-path: inset(50%);
}

@mixin clearfix {
  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin gray-bg {
  background-image: linear-gradient(
    45deg,
    rgb(232, 210, 209) 0%,
    rgb(255, 255, 255) 100%
  );
}

@mixin dot-bg {
  background-color: #fff;
  background-image: radial-gradient(#d8d8d8 8%, transparent 10%);
  background-repeat: repeat;
  background-size: 15px 15px;
}

@mixin card-layout($bgColor, $p-top, $p-row, $p-btm) {
  padding: $p-top $p-row $p-btm;
  background-color: $bgColor;
  border-radius: 10px;
  box-shadow: 0 20px 27px 0 rgba(150, 127, 111, 0.21);
}

@mixin sub-ttl-layout {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  color: #5b5b5b;
  text-align: center;
  letter-spacing: 0.25em;
}
