.l-footer {
  position: relative;
  padding: 82.5px 0 31.5px;

  @include gray-bg();

  .l-container {
    padding: 0 45px;
  }
}

.footer-logo {
  margin-bottom: 75px;
  text-align: center;
}

.footer-app {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.footer-privacy {
  display: flex;
  justify-content: center;
  margin: 0 -18px 18px;

  &__txt {
    position: relative;
    padding: 0 18px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.25;
    letter-spacing: 0.185em;

    &:first-child {
      &::after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        text-decoration: none;
        content: '|';
      }
    }
  }

  .txt {
    position: relative;
    padding-bottom: 3px;

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      content: '';
      background-color: #5b5b5b;
    }
  }
}

.copyright {
  font-size: 9px;
  text-align: center;
  letter-spacing: 0.185em;
}

.scroll-top {
  position: absolute;
  top: -30px;
  right: 15px;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #ec6d88;
  border-radius: 50%;

  &__triangle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    margin: auto;
    border-color: transparent transparent #ec6d89 transparent;
    border-style: solid;
    border-width: 0 5.5px 8px 5.5px;
  }
}

.footer-modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100vh;
  padding-top: 50px;
  visibility: hidden;
  background: rgba(#000, 0.8);
  opacity: 0;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.modal-wrap {
  position: relative;
  height: calc(100% - 60px);
  margin: 0 25px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  overflow-y: scroll;
  visibility: hidden;
  background-color: #fff;
  opacity: 0;

  &.is-active {
    visibility: visible;
    opacity: 1;
  }
}

.modal-data {
  padding-top: 28px;
  margin-top: 32px;
  border-top: 1px solid #e5e5e5;

  &__ttl {
    margin-bottom: 15px;
    font-size: 16px;
    color: #ed8181;
    letter-spacing: 0.15em;
  }

  .txt {
    font-size: 14px;
    line-height: 1.9;
    color: #393333;
    letter-spacing: 0.01em;
  }

  .list {
    padding: 16px 21px 16px 39px;
    margin: 22px 0;
    background-color: #f7f6f3;

    &__item {
      span {
        display: inline-block;
        color: #ed8181;
        text-indent: -1em;
      }
    }
  }
}

.modal-lead {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.9;
  color: #393333;
  letter-spacing: 0.01em;
}

.modal-close {
  $this: #{&};

  position: absolute;
  top: 0;
  right: 9px;
  width: 56px;
  height: 56px;

  &__item {
    position: absolute;
    top: 25px;
    left: 50%;
    width: 29px;
    height: 1px;
    margin-left: -14px;
    background-color: #fff;

    &--01 {
      @extend #{$this}__item;

      transform: rotate(45deg);
    }

    &--02 {
      @extend #{$this}__item;

      transform: rotate(-45deg);
    }
  }
}
