.sec-faq {
  position: relative;
  padding: 60px 0 90px;

  @include dot-bg();
}

.faq-item {
  &__ls {
    padding: 35px 0;
    border-top: 1px solid #e2e0dd;

    &:last-child {
      border-bottom: 1px solid #e2e0dd;
    }
  }
}

.question {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 20px 0 0;

  &__ttl {
    flex: 1;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    letter-spacing: 0.25em;
  }

  &__acc {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 14px;
    height: 14px;
    margin: auto;

    .line {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      margin: auto;
      background-color: #ec6d88;

      &::after {
        @extend .line;

        content: '';
        transform: rotate(90deg);
      }
    }
  }
}

.answer {
  &__txt {
    padding-top: 20px;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.185em;
  }
}
