.sec-service {
  padding: 75px 0 85px;

  @include dot-bg();

  &__txt {
    padding: 0 20px;
  }

  &__item {
    img {
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
      }
    }
  }
}
