.sec-point {
  padding: 60px 0 90px;

  @include dot-bg();

  .point-contents {
    &__ls {
      position: relative;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .ls-item {
    @include card-layout(#f6eeed, 50px, 20px, 50px);

    &__img {
      text-align: center;
    }

    &__ttl {
      margin-top: 24px;

      @include sub-ttl-layout();
    }

    &__txt {
      margin-top: 30px;
      font-size: 14px;
      line-height: 2;
      color: #5b5b5b;
      letter-spacing: 0.185em;
    }
  }
}
