.sec-getstart {
  padding: 60px 0 90px;

  @include gray-bg();
}

.contents-ls {
  $this: #{&};

  margin-bottom: 40px;

  &__wrap {
    position: relative;

    @include card-layout(#fff, 50px, 20px, 50px);

    &::after {
      position: absolute;
      right: 0;
      bottom: -12px;
      left: 0;
      width: 35px;
      height: 35px;
      margin: auto;
      content: '';
      background-color: #fff;
      border-radius: 5px;
      transform: rotate(45deg);
    }
  }

  .lead {
    margin-bottom: 25px;
    text-align: center;
  }

  .txt {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.185em;
  }

  &:last-child {
    margin-bottom: 0;

    #{$this}__wrap {
      &::after {
        display: none;
      }
    }
  }
}
