.sec-strength {
  padding: 89px 0 85px;

  @include dot-bg();

  &__ttl {
    margin-bottom: 34px;
  }

  .contents-ls {
    margin-bottom: 58px;

    &:last-child {
      margin-bottom: 0;
    }

    &__img {
      margin: 0 -13px;
      text-align: center;
    }

    .lead {
      margin-bottom: 20px;

      @include sub-ttl-layout();
    }

    .txt {
      font-size: 14px;
      line-height: 2;
      letter-spacing: 0.185em;
    }
  }
}
