.sec-survey {
  padding: 90px 0;

  @include gray-bg();

  &__item {
    margin-bottom: 20px;
    text-align: center;

    img {
      @include media-breakpoint-down(sm) {
        width: 100%;
        height: auto;
      }
    }
  }

  .survey-contents {
    position: relative;

    &__ls {
      margin-bottom: 53px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .ls-item {
    position: relative;

    @include card-layout(#fff, 35px, 20px, 20px);

    &__ttl {
      margin-bottom: 30px;
      text-align: center;
    }

    &__txt {
      margin-bottom: 35px;
      font-size: 15px;
      line-height: 1.8;
      letter-spacing: 0.25em;
    }

    &__acc {
      position: absolute;
      top: -12.5px;
      right: 50%;
      transform: translate(50%, 0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
  }
}
