.sec-contact {
  padding: 60px 0 90px;
  background: url('@img/contact_bg01.jpg') center/cover;
}

.contact-link {
  display: block;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  &__img {
    text-align: center;
  }
}

.work-time {
  margin-top: 15px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  letter-spacing: 0.25em;
}
