<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Labre</title>
  <meta name="description" content="">

  <meta property="og:title" content=""><!-- To support Twitter Cards you need to fill in the content. -->
  <meta property="og:type" content="website"><!-- You need to fill in the content with "website" for the top page, and "article" for the other pages. -->
  <meta property="og:image" content=""><!-- You need to fill in the content with the production URL of the image. -->
  <meta property="og:url" content=""><!-- You need to fill in the content with the production URL of this page. -->
  <meta property="og:description" content=""><!-- To support Twitter Cards this tag is required, and you need to fill in the content. -->
  <meta name="twitter:card" content="summary">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%- include('/gtm-head') %>

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="stylesheet" href="/assets/styles/pages/common/style.css">
  <link rel="stylesheet" href="/assets/styles/pages/index/style.css">
</head>

<body>

  <%- include('/gtm-body') %>

  <div class="l-page">

    <%- include('/header') %>

    <main class="l-main">

      <a data-target="sec-contact" href="#sec-contact" class="link-to-contact js-scroller" id="js-fadeout-target">
        <picture>
          <source media="(min-width: 768px)" srcset="@img/link_to_contact_md.png">
          <img src="@img/link_to_contact.png" alt="お問い合わせ" width="71" height="71">
        </picture>
      </a>

      <section class="sec-mv" id="sec-mv"></section>

      <section class="sec-service u-bg-dot">
        <div class="l-container">
          <h2 class="c-sec-ttl sec-service__ttl">
            <picture>
              <source media="(min-width: 768px)" srcset="@img/service_ttl01_md.png">
              <img src="@img/service_ttl01.png" alt="service LABREのサービス" width="258" height="58">
            </picture>
          </h2>
          <p class="c-sec-txt sec-service__txt">
            ラブレは、接客業界の企業・店舗とそのニーズに合う人材をつなぐアルバイト募集メディアです。
          </p>
          <p class="sec-service__item">
            <picture>
              <source media="(min-width: 768px)" srcset="@img/service_item01_md.png">
              <img src="@img/service_item01.png" alt="service LABREのサービス" width="356" height="192">
            </picture>
          </p>
        </div>
      </section>

      <section class="sec-survey">
        <div class="l-container">
          <h2 class="c-sec-ttl sec-survey__ttl">
            <picture>
              <source media="(min-width: 768px)" srcset="@img/survey_ttl01_md.png">
              <img src="@img/survey_ttl01.png" alt="ワーキングシェアアプリに対して 事前アンケートで90％の企業がかかえる不安を解消しました！" width="279" height="134">
            </picture>
          </h2>
          <p class="sec-survey__item">
            <picture>
              <source media="(min-width: 768px)" srcset="@img/survey_item01_md.png">
              <img src="@img/survey_item01.png" alt="ワーキングシェアアプリに対して 事前アンケートで90％の企業がかかえる不安を解消しました！" width="347" height="377">
            </picture>
          </p>
          <ul class="survey-contents">
            <li class="survey-contents__ls">
              <div class="ls-item">
                <h3 class="ls-item__ttl">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/survey_sub_ttl01_md.png">
                    <img src="@img/survey_sub_ttl01.png" alt="promise 独自の評価制度で安心！" width="262" height="48">
                  </picture>
                </h3>
                <p class="ls-item__txt">
                  LABREは<span class="u-color01">アプリ登録する前に事前面接</span>を行っております。だから安心して人材を探すことが可能です。
                </p>
                <div class="ls-item__img">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/survey_img01_md.jpg">
                    <img src="@img/survey_img01.jpg" alt="" width="285" height="205">
                  </picture>
                </div>
              </div>
            </li>
            <li class="survey-contents__ls">
              <div class="ls-item">
                <span class="ls-item__acc">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/survey_popup01_md.png">
                    <img src="@img/survey_popup01.png" alt="さらに!" width="125" height="40">
                  </picture>
                </span>
                <h3 class="ls-item__ttl">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/survey_sub_ttl02_md.png">
                    <img src="@img/survey_sub_ttl02.png" alt="progress ワーカー利用 満足度No.1へ！" width="181" height="68">
                  </picture>
                </h3>
                <p class="ls-item__txt">
                  ワーカー側のニーズも<span class="u-color01">随時分析</span>し、独自のマーケティングデータを企業様へ<span class="u-color01">フィードバック</span>することでワーカー利用満足度の向上へ努めています。
                </p>
                <div class="ls-item__img">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/survey_img02_md.jpg">
                    <img src="@img/survey_img02.jpg" alt="" width="285" height="205">
                  </picture>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <section class="sec-point">
        <div class="l-container">
          <h2 class="c-sec-ttl sec-point__ttl">
            <picture>
              <source media="(min-width: 768px)" srcset="@img/point_ttl01_md.png">
              <img src="@img/point_ttl01.png" alt="service LABREのサービス" width="220" height="84">
            </picture>
          </h2>
          <ul class="point-contents">
            <li class="point-contents__ls">
              <div class="ls-item">
                <div class="ls-item__img">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/point_logo01_md.png">
                    <img src="@img/point_logo01.png" alt="" width="55" height="55">
                  </picture>
                </div>
                <h3 class="ls-item__ttl">
                  <span class="u-color01">幅広い人材とサービス</span>で<br>欲しい人材が見つかる
                </h3>
                <p class="ls-item__txt">
                  求人や派遣や紹介など人材業界で培った確かなキャリアと実績を持つ担当者が開発した独自のIT技術とプログラムで組まれたシステムでスピード感を持ってクライアントに合った人材をつなぎます。
                </p>
              </div>
            </li>
            <li class="point-contents__ls">
              <div class="ls-item">
                <div class="ls-item__img">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/point_logo02_md.png">
                    <img src="@img/point_logo02.png" alt="" width="48" height="58">
                  </picture>
                </div>
                <h3 class="ls-item__ttl">
                  <span class="u-color01">事前面接</span>で安心
                </h3>
                <p class="ls-item__txt">
                  アプリ登録をする際に、登録者の面談を独自で行っています。人材業界でキャリアのある開発者が独自の評価制度を設けている為安心して人材をお探しいただけます。
                </p>
              </div>
            </li>
            <li class="point-contents__ls">
              <div class="ls-item">
                <div class="ls-item__img">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/point_logo03_md.png">
                    <img src="@img/point_logo03.png" alt="" width="63" height="65">
                  </picture>
                </div>
                <h3 class="ls-item__ttl">
                  教育・指導の<span class="u-color01">手間低減！</span>
                </h3>
                <p class="ls-item__txt">
                  お気に入りのワーカーに限定公開が可能です。必要な時に必要な分だけリソースを確保できます。
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <%- include('/_sec-contact', { type: 1 }) %>

      <section class="sec-strength">
        <div class="l-container">
          <h2 class="c-sec-ttl sec-strength__ttl">
            <picture>
              <source media="(min-width: 768px)" srcset="@img/strength_ttl01_md.png">
              <img src="@img/strength_ttl01.png" alt="使い方は簡単！すぐに募集が可能！ LABREの強み" width="296" height="72">
            </picture>
          </h2>
          <ul class="sec-strength__contents">

            <li class="contents-ls">
              <div class="contents-ls__img">
                <picture>
                  <source media="(min-width: 768px)" srcset="@img/strength_img01_md.png">
                  <img src="@img/strength_img01.png" alt="" width="351" height="236">
                </picture>
              </div>
              <div class="contents-ls__txt">
                <h3 class="lead">
                  <span class="u-color01">簡単</span>募集開始！
                </h3>
                <p class="txt">
                  ログインID・PW発行後に、だれでも簡単に操作できる管理画面で募集情報を入力すれば、すぐ掲載開始！
                </p>
              </div>
            </li>

            <li class="contents-ls">
              <div class="contents-ls__img">
                <picture>
                  <source media="(min-width: 768px)" srcset="@img/strength_img02_md.png">
                  <img src="@img/strength_img02.png" alt="" width="351" height="236">
                </picture>
              </div>
              <div class="contents-ls__txt">
                <h3 class="lead">
                  何度利用しても<span class="u-color01">面接なし</span>で、<br>最適なワーカーが見つかる。
                </h3>
                <p class="txt">
                  LABREが事前面接している登録者です。システムより過去稼働実績・評価・プロフィールを事前に確認できます。募集内容に稼働希望者がマッチングすると、実際に現地で就業します。報酬は即日手渡しになるので、面倒な手続きも不要です。
                </p>
              </div>
            </li>

            <li class="contents-ls">
              <div class="contents-ls__img">
                <picture>
                  <source media="(min-width: 768px)" srcset="@img/strength_img03_md.png">
                  <img src="@img/strength_img03.png" alt="" width="351" height="236">
                </picture>
              </div>
              <div class="contents-ls__txt">
                <h3 class="lead">
                  手続きなども<span class="u-color01">不要！</span>
                </h3>
                <p class="txt">
                  就業者にはシステムより契約書が発行されるので企業・店舗側は特に事前に用意するものはございません。就業終了後に、報酬をその場で支払ってください。
                </p>
              </div>
            </li>

          </ul>
        </div>
      </section>

      <section class="sec-getstart">
        <div class="l-container">
          <h2 class="c-sec-ttl sec-getstart__ttl">
            <picture>
              <source media="(min-width: 768px)" srcset="@img/get_start_ttl01_md.png">
              <img src="@img/get_start_ttl01.png" alt="サービス利用開始方法" width="303" height="53">
            </picture>
          </h2>
          <ul class="sec-getstart__contents">

            <li class="contents-ls">
              <div class="contents-ls__wrap">
                <h3 class="lead">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/get_start_subttl01_md.png">
                    <img src="@img/get_start_subttl01.png" alt="お申込み" width="107" height="22">
                  </picture>
                </h3>
                <p class="txt">
                  こちらはダミーです。サービス利用の開始方法についてのテキストが入ります。こちらは仮のテキストです。サービス利用の開始方法のテキストが入ります。
                </p>
              </div>
            </li>

            <li class="contents-ls">
              <div class="contents-ls__wrap">
                <h3 class="lead">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/get_start_subttl02_md.png">
                    <img src="@img/get_start_subttl02.png" alt="募集開始" width="112" height="26">
                  </picture>
                </h3>
                <p class="txt">
                  こちらはダミーです。サービス利用の開始方法についてのテキストが入ります。こちらは仮のテキストです。サービス利用の開始方法のテキストが入ります。
                </p>
              </div>
            </li>

            <li class="contents-ls">
              <div class="contents-ls__wrap">
                <h3 class="lead">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/get_start_subttl03_md.png">
                    <img src="@img/get_start_subttl03.png" alt="マッチング＆就業" width="195" height="24">
                  </picture>
                </h3>
                <p class="txt">
                  こちらはダミーです。サービス利用の開始方法についてのテキストが入ります。こちらは仮のテキストです。サービス利用の開始方法のテキストが入ります。
                </p>
              </div>
            </li>

          </ul>
        </div>
      </section>

      <section class="sec-faq">
        <div class="l-container">
          <h2 class="c-sec-ttl sec-getstart__ttl">
            <picture>
              <source media="(min-width: 768px)" srcset="@img/faq_ttl01_md.png">
              <img src="@img/faq_ttl01.png" alt="よくあるご質問" width="209" height="52">
            </picture>
          </h2>
          <ul class="faq-item">
            <li class="faq-item__ls">
              <button class="question" id="faq-toggler-01" aria-controls="faq-collapsible-01" data-collapse-toggler>
                <div class="question__img">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/faq_logo01_md.png">
                    <img src="@img/faq_logo01.png" alt="Q" width="42" height="42">
                  </picture>
                </div>
                <h3 class="question__ttl">
                  利用料はどれくらいですか？
                </h3>
                <div class="question__acc">
                  <span class="line"></span>
                </div>
              </button>
              <div class="answer" id="faq-collapsible-01" aria-labelledby="faq-collapse-toggler-01">
                <p class="answer__txt">
                  雇用者が掲載している勤務時間に対する賃金の30%をシステム手数料としていただきます。
                </p>
              </div>
            </li>
            <li class="faq-item__ls">
              <button class="question" id="faq-toggler-02" aria-controls="faq-collapsible-02" data-collapse-toggler>
                <div class="question__img">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/faq_logo01_md.png">
                    <img src="@img/faq_logo01.png" alt="Q" width="42" height="42">
                  </picture>
                </div>
                <h3 class="question__ttl">
                  利用料はどれくらいですか？
                </h3>
                <div class="question__acc">
                  <span class="line"></span>
                </div>
              </button>
              <div class="answer" id="faq-collapsible-02" aria-labelledby="faq-collapse-toggler-02">
                <p class="answer__txt">
                  雇用者が掲載している勤務時間に対する賃金の30%をシステム手数料としていただきます。
                </p>
              </div>
            </li>
            <li class="faq-item__ls">
              <button class="question" id="faq-toggler-03" aria-controls="faq-collapsible-03" data-collapse-toggler>
                <div class="question__img">
                  <picture>
                    <source media="(min-width: 768px)" srcset="@img/faq_logo01_md.png">
                    <img src="@img/faq_logo01.png" alt="Q" width="42" height="42">
                  </picture>
                </div>
                <h3 class="question__ttl">
                  利用料はどれくらいですか？
                </h3>
                <div class="question__acc">
                  <span class="line"></span>
                </div>
              </button>
              <div class="answer" id="faq-collapsible-03" aria-labelledby="faq-collapse-toggler-03">
                <p class="answer__txt">
                  雇用者が掲載している勤務時間に対する賃金の30%をシステム手数料としていただきます。
                </p>
              </div>
            </li>
          </ul>
        </div>
      </section>

      <%- include('/_sec-contact', { type: 2 }) %>

    </main><!-- .l-main -->

    <%- include('/footer') %>

  </div><!-- .l-page -->

  <script src="/assets/scripts/vendors.js" defer></script>
  <script src="/assets/scripts/pages/common.js" defer></script>
  <script src="/assets/scripts/pages/index.js" defer></script>

</body>

</html>
