<%
  if (typeof type === 'undefined') { var type = ''; }
%>
  <% if (type === 2) { %>
  <section class="sec-contact" id="sec-contact">
  <% }%>
  <% if (type === 1) { %>
  <section class="sec-contact">
  <% }%>
  <div class="l-container">
    <h2 class="c-sec-ttl sec-contact__ttl">
      <picture>
        <source media="(min-width: 768px)" srcset="@img/contact_ttl01_md.png">
        <img src="@img/contact_ttl01.png" alt="まずはお問い合わせください" width="303" height="49">
      </picture>
    </h2>
  <% if (type === 1) { %>
    <a data-target="sec-contact" href="#sec-contact" class="contact-link js-scroller">
      <p class="contact-link__img">
        <picture>
          <source media="(min-width: 768px)" srcset="@img/contact_btn01_md.png">
          <img src="@img/contact_btn01.png" alt="お問い合わせはこちら" width="325" height="107">
        </picture>
      </p>
    </a>
  <% }%>
  <% if (type === 2) { %>
    <a href="" class="contact-link">
      <p class="contact-link__img">
        <picture>
          <source media="(min-width: 768px)" srcset="@img/contact_btn02_md.png">
          <img src="@img/contact_btn02.png" alt="メールはこちら" width="325" height="107">
        </picture>
      </p>
    </a>
    <a href="" class="contact-link">
      <p class="contact-link__img">
        <picture>
          <source media="(min-width: 768px)" srcset="@img/contact_btn03_md.png">
          <img src="@img/contact_btn03.png" alt="お電話はこちら" width="325" height="107">
        </picture>
      </p>
    </a>
    <p class="work-time">
      受付時間：10:00～18:30（日曜日・祝日は除く）
    </p>
  <% }%>
  </div>
</section>