<footer class="l-footer">
  <a class="scroll-top js-scroller" data-target="sec-mv" href="#sec-mv">
    <span class="scroll-top__triangle"></span>
  </a>
  <div class="l-container">
    <h2 class="footer-logo">
      <picture>
        <source media="(min-width: 768px)" srcset="@img/footer_logo01_md.png">
        <img src="@img/footer_logo01.png" alt="App Store" width="133" height="28">
      </picture>
    </h2>
    <div class="footer-app">
      <div class="footer-app__item">
        <a href="#" class="item">
          <picture>
            <source media="(min-width: 768px)" srcset="@img/apple_logo01_md.png">
            <img src="@img/apple_logo01.png" alt="App Store" width="122" height="41">
          </picture>
        </a>
      </div>
      <div class="footer-app__item">
        <a href="#" class="item">
          <picture>
            <source media="(min-width: 768px)" srcset="@img/google_logo01_md.png">
            <img src="@img/google_logo01.png" alt="App Store" width="138" height="42">
          </picture>
        </a>
      </div>
    </div>
    <div class="footer-privacy">
      <button class="footer-privacy__txt" js-modal-btn="modal-01">
        <span class="txt">プライバシーポリシー</span>
      </button>
      <button class="footer-privacy__txt" js-modal-btn="modal-02">
        <spna class="txt">利用規約</spna>
      </button>
    </div>
    <p class="copyright">
      ©LABRE.ALL RIGHTS RESERVED.
    </p>
  </div>
  <div class="footer-modal">
    <button class="modal-close" js-modal-close><span class="modal-close__item--01"></span><span class="modal-close__item--02"></span></button>
    <div class="modal-wrap">
      <div class="modal" id="modal-01" js-modal-target>
        <div class="modal__content">
          <h3 class="modal-lead">
            コンティフォースではお預かりした「個人情報」を大切に守り、適正に管理し、真に信頼される企業を目指しております。
          </h3>
          <dl class="modal-data">
            <dt class="modal-data__ttl">個人情報の利用目的について</dt>
            <dd class="modal-data__contents">
              <p class="txt">本サイトは、スタッフ登録/仮登録・お問い合わせをされる場合に、お客様から個人情報をご提供いただいております。ご提供いただいたお客様の個人情報は、次の目的で使用致します。</p>
              <ul class="list">
                <li class="list__item"><span>1.</span>お問合せをされた方・企業様に連絡をとるため</li>
                <li class="list__item"><span>2.</span>採用・人事に関する業務</li>
                <li class="list__item"><span>3.</span>本サイトのご利用において、登録した方に連絡をとる手段のため</li>
                <li class="list__item"><span>4.</span>本サイトに関するお客様からのお問合せに対する回答を遂行するため</li>
              </ul>
              <p class="txt">上記の目的以外で個人情報を使用する場合には、お客様の事前の承諾を得るものとします。</p>
            </dd>
          </dl>
          <dl class="modal-data">
            <dt class="modal-data__ttl">個人情報の利用目的について</dt>
            <dd class="modal-data__contents">
              <p class="txt">本サイトは、スタッフ登録/仮登録・お問い合わせをされる場合に、お客様から個人情報をご提供いただいております。ご提供いただいたお客様の個人情報は、次の目的で使用致します。</p>
              <ul class="list">
                <li class="list__item"><span>1.</span>お問合せをされた方・企業様に連絡をとるため</li>
                <li class="list__item"><span>2.</span>採用・人事に関する業務</li>
                <li class="list__item"><span>3.</span>本サイトのご利用において、登録した方に連絡をとる手段のため</li>
                <li class="list__item"><span>4.</span>本サイトに関するお客様からのお問合せに対する回答を遂行するため</li>
              </ul>
              <p class="txt">上記の目的以外で個人情報を使用する場合には、お客様の事前の承諾を得るものとします。</p>
            </dd>
          </dl>
        </div>
      </div>
      <div class="modal" id="modal-02" js-modal-target>
        <div class="modal__content">
          <h3 class="modal-lead">
            「個人情報」を大切に守り、適正に管理し、真に信頼される企業を目指しております。
          </h3>
          <dl class="modal-data">
            <dt class="modal-data__ttl">個人情報の利用目的について</dt>
            <dd class="modal-data__contents">
              <p class="txt">本サイトは、スタッフ登録/仮登録・お問い合わせをされる場合に、お客様から個人情報をご提供いただいております。ご提供いただいたお客様の個人情報は、次の目的で使用致します。</p>
              <ul class="list">
                <li class="list__item"><span>1.</span>お問合せをされた方・企業様に連絡をとるため</li>
                <li class="list__item"><span>2.</span>採用・人事に関する業務</li>
                <li class="list__item"><span>3.</span>本サイトのご利用において、登録した方に連絡をとる手段のため</li>
                <li class="list__item"><span>4.</span>本サイトに関するお客様からのお問合せに対する回答を遂行するため</li>
              </ul>
              <p class="txt">上記の目的以外で個人情報を使用する場合には、お客様の事前の承諾を得るものとします。</p>
            </dd>
          </dl>
          <dl class="modal-data">
            <dt class="modal-data__ttl">個人情報の利用目的について</dt>
            <dd class="modal-data__contents">
              <p class="txt">本サイトは、スタッフ登録/仮登録・お問い合わせをされる場合に、お客様から個人情報をご提供いただいております。ご提供いただいたお客様の個人情報は、次の目的で使用致します。</p>
              <ul class="list">
                <li class="list__item"><span>1.</span>お問合せをされた方・企業様に連絡をとるため</li>
                <li class="list__item"><span>2.</span>採用・人事に関する業務</li>
                <li class="list__item"><span>3.</span>本サイトのご利用において、登録した方に連絡をとる手段のため</li>
                <li class="list__item"><span>4.</span>本サイトに関するお客様からのお問合せに対する回答を遂行するため</li>
              </ul>
              <p class="txt">上記の目的以外で個人情報を使用する場合には、お客様の事前の承諾を得るものとします。</p>
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</footer>